*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx

# Built application files
*.apk
*.ap_
*.aab

# OS specific
Thumbs.db

# Python
__pycache__/
*.pyc
